* {
  margin: 0;
  padding: 0;
}
body {
  border-top: solid #0b7285 1px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  margin: auto;
  background-color: #e9fac8;
  width: 80%;
  height: 100vh;
  padding: 30px;
  line-height: 1.5;
  margin: auto;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 200px;
  color: #0b7285;
  font-weight: bolder;
  letter-spacing: 0.05em;
}

h1::first-letter {
  font-size: 300px;
}
blockquote,
.callout-block {
  color: #0b7285;
  font-size: 80px;
  padding: 50px;
  margin: 20px;
  margin-bottom: 60px;
  font-weight: bold;
}
figcaption {
  text-align: end;
  margin-top: 16px;
  font-weight: lighter;
}
span {
  color: #d9480f;
  font-weight: 800;
  font-style: italic;
}
header {
  margin-bottom: 120px;
  border-radius: 10px;
  padding: 30px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
.one {
  width: 1700px;
  height: 800px;
  border-radius: 20px;
}
footer {
  color: #0b7285;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 40px;
}
